apiVersion: apps/v1
kind: Deployment
metadata:
  name: busybox
  labels:
    app: nbusybox
spec:
  replicas: 1
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: busybox
  template:
    metadata:
      labels:
        app: busybox
    spec:
      containers:
      - name: busybox
        image: busybox:stable
        command: ["/bin/sh", "-ec", "while :; do echo '.'; sleep 5 ; done"]
